<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--My css-->
    <link rel="stylesheet" href="{% static 'mysite/index.css' %}">

    <title>VHelp</title>
    <style>

        #services .service-item{
            background-image = url("{% static 'mysite/story-bg.jpg' %}")
        }
    </style>

</head>

<body>


    <!-- Header section -->

    <section id="header">
        <div class="container header">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1 id="vhelplogo"></h1>
                    </a>
                    {% if user.is_authenticated %}
                        <a href="#hero" style="margin-right:2.5rem; margin-left:-7rem;" >
                            <h1 id="userid">hello, {{ user }}</h1>
                        </a>
                    {% else %}
                    <div style="display:flex; flex-direction:row" >
                        <a href="../signup" style="margin-right:2.5rem; margin-left:-7rem;" >
                            <h1 id="signupid">SIGN UP</h1>
                        </a>
                        <a href="../login">
                            <h1 id="loginid">SIGN IN</h1>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#hero" data-after="home">Home</a></li>
                        <li><a href="#services" data-after="Services">Services</a></li>
                        <li><a href="#about" data-after="About">About US</a></li>
                        <li><a href="#contact" data-after="Contact">Contact US</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/logout" data-after="Logout">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- End Header section -->


    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container">
            <div>
                <!-- <h1>Hello,<span></span></h1>
                <h1>Welcome to <span></span></h1> -->
                <div>
                <h1 id="heroh1">VHelp<span></span></h1>
                {% if user.is_authenticated %}
                <a style="margin-top:16rem; margin-left:16rem;" href="/chat/" type="button" class="cta">Chat</a>
                {% endif %}
                </div>
                <div class="web">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/qCt21Hy57ps"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        id="video"></iframe>">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- service section -->

    <section id="services">
        <div class="container service">
            <div class="service-top">
                <h1 class="section-title">Stor<span>i</span>es</h1>
                <p>
                    Reach to those who are going through what you went through at some point. Share your story and let others know
		            they aren't alone.
                </p>
            </div>
            <div class="service-bottom">
                <div class="service-item">
                    <div class="icon">
                        <img src="https://img.icons8.com/dusk/64/000000/mental-health.png"/> />
                    </div>
                    <h2>Sample Story</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sed harum
                        numquam fugit doloremque autem officia cumque nihil.
                    </p>
                </div>
                <div class="service-item">
                    <div class="icon">
                        <img src="https://img.icons8.com/dusk/64/000000/mental-health.png"/> />
                    </div>
                    <h2>Sample Story</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sed harum
                        numquam fugit doloremque autem officia cumque nihil.
                    </p>
                </div>
                <div class="service-item">
                    <div class="icon">
                        <img src="https://img.icons8.com/dusk/64/000000/mental-health.png"/> />
                    </div>
                    <h2>Sample Story</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sed harum
                        numquam fugit doloremque autem officia cumque nihil.
                    </p>
                </div>
                <div class="service-item">
                    <div class="icon">
                        <img src="https://img.icons8.com/dusk/64/000000/mental-health.png"/> />
                    </div>
                    <h2>Sample Story</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sed harum
                        numquam fugit doloremque autem officia cumque nihil.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    {% load static %}
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="{% static 'mysite/about.png' %}" alt="My img">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>Us</span></h1>
                <h2>A Platform to discuss your Mental Health</h2>
                <p>
                    Here, you can share your stories, experiences, feelings, grief, happiness and find someone who’ll listen without
		any inhibitions.

		You can talk to other human beings who’ll be your friend.

		I’ve been to 8 mental health experts myself and I know all I’ve ever needed was a listener (friend) who'll
		listen to me without judgment or inhibition.

		And if you do too you’re at the right place
                </p>
                <a href="#" class="cta"> Know More </a>
            </div>
        </div>
    </section>

    <!-- End About Section -->
    <!-- About Section -->
    {% load static %}
    <section id="about" style="background-color:#fdecdb;" >
        <div class="about container">
            {% comment %} <div class="col-left">
                <div class="about-img">
                    <img src="{% static 'mysite/about.png' %}" alt="My img">
                </div>
            </div> {% endcomment %}
            <div class="col-right">
                <h1 class="section-title" style="margin-bottom:9rem;">unique ab<span>o</span>ut <span>Us</span></h1>
                {% comment %} <h2>Front End Web Developer</h2> {% endcomment %}
                <div style="display:flex; flex-direction:row; "  > 
                    <div style="max-width:25%; font-size:2rem; width:25%; margin-right:2rem;" >
                        THE ONLY PLATFORM WHERE NORMAL PEOPLE CAN HELP OTHER NOMRMAL PEOPLE
                    </div>
			        <div style="max-width:25%; font-size:2rem; width:25%; margin-right:2rem;" >SHARE YOUR STORIES</div>
			
				    <div style="max-width:25%; font-size:2rem; width:25%; margin-right:2rem;" >A NON PROFIT ORGANIZATION</div>
			        <div style="max-width:25%; font-size:2rem; width:25%; margin-right:2rem;" >TALK TO A PERSON WHO HAS FACED A SIMILAR LIFE SITUATION<div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- End About Section -->



    <!-- Footer Section -->

    <section id="footer">
        <div class="container footer">
            <div class="brand">
                <h1 class="section-title">V<span>H</span>elp</h1>
            </div>
            <h2>If you need help, go visit vHelp.</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" alt=""></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" alt=""></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" alt=""></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" alt=""></a>
                </div>
            </div>
            <p>Copyright &#169; 2021 VHelp. All rights reserved</p>
        </div>
    </section>

    <!-- End Footer Section -->
    {% comment %} {% if user.is_authenticated %}
    {{ user|json_script:"user" }}
    {% endif %} {% endcomment %}
    <script>

        const hamburger = document.querySelector('.header .nav-bar .nav-list .hamburger');
        const mobile_menu = document.querySelector('.header .nav-bar .nav-list ul');
        const menu_item = document.querySelectorAll('.header .nav-bar .nav-list ul li a');
        const header = document.querySelector('.header.container');
        const headlogo = document.querySelector('#vhelplogo');
        const logo = document.querySelector('#heroh1');
        const signup = document.querySelector('#signupid');
        const login = document.querySelector('#loginid');
        
        const userid = document.querySelector('#userid')
        

        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            mobile_menu.classList.toggle('active');
        });

        document.addEventListener('scroll', () => {
            var scroll_position = window.scrollY;
            if (scroll_position > 250) {
                header.style.backgroundColor = '#29323c';
                headlogo.innerHTML = 'V<span>H</span>elp';
                logo.innerHTML = '';
                signup.innerHTML = '';
                login.innerHTML = '';
                userid.innerHTML = '';
            } else {
                header.style.backgroundColor = 'transparent';
                headlogo.innerHTML = '';
                logo.innerHTML = 'VHelp<span></span>';
                {% if user.is_authenticated %}
                userid.innerHTML = 'hello' + {{user}}
                {% else %}
                signup.innerHTML = 'Sign Up';
                login.innerHTML = 'Sign In';
                {% endif %}
            }
        });

        menu_item.forEach((item) => {
            item.addEventListener('click', () => {
                hamburger.classList.toggle('active');
                mobile_menu.classList.toggle('active');
            });
        });

    </script>
</body>

</html>